src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="get:\self-ping:api-config">
        <http:listener path="/api/${api.version}/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<logger level="INFO" doc:name="LOG INFO Started" doc:id="9f436860-165d-41da-bdcd-c73e899dda62" message="Self Ping Flow Started || CorrelationId #[vars.correlationId]" category="appname.get:\self-ping:api-config" />
		<flow-ref doc:name="Flow-ref to cf-correlation-id" doc:id="752f3633-8f13-4d60-beb6-8ac698b21543" name="cf-correlation-id" />
        <ee:transform xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="DW Self ping Response">
            <ee:message>
                <ee:set-payload resource="dataweave/pSelfPingResponse.dwl" />
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="LOG INFO Completed" doc:id="8826df60-faad-4c5b-af27-c812d33d1152" message="Self Ping Flow Completed || CorrelationId #[vars.correlationId]" category="appname.get:\self-ping:api-config" />
    
</flow>
</mule>
