src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="f0aa4508-879c-4ef5-bbb3-927d5f0ca2cc" file="properties\config.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="00134d60-61da-43f4-93b0-fd1787143fa3" basePath="/api" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<flow name="globalFlow" doc:id="23f8322d-7574-4952-b35a-d59719847c25" >
		<http:listener doc:name="Listener" doc:id="5eca55c5-eeaf-417f-a40a-016dae97f87c" config-ref="HTTP_Listener_config" path="/hello">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" />
		</http:listener>
		<ee:transform doc:name="payload" doc:id="deac3ee5-2918-4a8a-9ee7-c7f49d0b0ce9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Success",
	"Message": "Hello World!",
	"timestamp": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200 as Number]" doc:name="httpStatus" doc:id="a08679b0-701e-4d39-beae-bc354544afcc" variableName="httpStatus"/>
		<logger level="INFO" doc:name="Logger" doc:id="4a79ac51-e37c-448a-9782-6f31c8f1afeb" message="#[payload]"/>
	</flow>
</mule>
